<div class="form-container" style="text-align: center;justify-content: space-between;padding: 10px;">
    <%= form_for student, url: {action: action, id: student.id} do |student| %>
    <label>Student Nmae : </label><br><br>
    <%= student.text_field :name %><br><br>
    <div class="btn" style="text-align: center;justify-content: center;width: 100%;align-items: center;display: flex;">
        <div class="submit-btn" style="justify-content: space-around; width: 150px;display: flex;text-align: center;align-items: center;">
            <%= student.submit "Submit", style: 'font-size: 18px;background-color: aqua;bolder: 1px solid black; border-radius: 8px;font-weight: bold; padding: 3px;font-family: "Times New Roman", Times, serif;' %>
            <%= link_to "Back", api_v1_students_index_path , style: 'font-size: 15px;color: black;background-color: aqua;bolder: 1px solid black; border-radius: 8px;font-weight: bold; padding: 5px;font-family: "Times New Roman", Times, serif;' %>
        </div>
    </div>
    <% end %>
</div>