<div class="form-container" style="text-align: center;justify-content: space-between;padding: 10px;">
    <label>Student ID : </label>
    <%= student.id %>
    <label>Student Name : </label>
    <%= student.name %>
    <br>
</div>