<div class="form-container" style="text-align: center;justify-content: space-between;padding: 10px;">
    <label>ID : </label>
    <%= data.id %>
    <p style="display: inline;">-</p>
    <label>Name :</label>
    <%= data.name %>
</div>